<div class="mt-4 mb-4">
    <hr>
    <a href="/" title="Home">Home</a> | <a href="https://spulsa.online/cara-menjadi-agen-pulsa-elektrik-murah/" title="Pendaftaran">Pendaftaran</a> | <a href="https://spulsa.online/sitemap.xml"
        title="Sitemap" target="_blank">Sitemap</a>
    <br>
    <br>
    &copy; 2020 <a href="https://www.facebook.com/spulsa.online" title="Spulsa Online" target="_blank">Spulsa Online Indonesia</a> <br>
    <small>Powered by <a href="https://www.facebook.com/spulsa.online" title="Spulsa Online" target="_blank">spulsa</a>
    </small>

</div>